/*basic general styling*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

/*header*/

header {
  padding: 20px;
}

.product-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/*Styling for cards*/
.card {
  width: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/*images*/
.card img {
  width: 100%;
  border-radius: 5px;
}

.card p {
  font-weight: bold;
}

.card h2,
.card p {
  margin: 10px 0;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hoverr {
  background-color: #45a049;
}

/*added for responsive design first Tablet and the Mobile*/

@media (max-width: 768px) {
  .card {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}
